/* Import Lato : normal, gras, italique */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Raleway Regular */
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

/* Raleway Bold */
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

/* Raleway Italic */
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}
/* Titres : Lato */
h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700; /* par défaut en gras */
  font-style: normal;
}
body {
font-family: "raleway", sans-serif;
background-color: #f5f5f5;
}
h3{
    color: #17abb3; /*rgb (23,171,179) */
}
.gras{
    font-family: "Raleway-bold", sans-serif;
    font-weight: 700;
}
.italic{
    font-family: "Raleway-Italic",sans-serif;
    font-weight: 400;
    font-style: italic;
}
.blanc{
    color:#ffffff;
}
.blanc-italic{
    color: #ffffff;
    font-style: italic;
}
.bleu{
    color: #17abb3;
    display: flex;
   
}
.icon{
    filter: invert(1);
    height: 30px;
}
.icon-bleu{
  width: 100px;
  filter: brightness(0)saturate(100%)invert(62%) sepia(51%) saturate(594%)hue-rotate(128deg) brightness(93%) contrast(92%);
}
.cv {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}
header, footer{
    background-color: #17abb3;
}
.photo-profil{
    width: 150px;
  height: 150px;
  border-radius: 50%;      /* rend la photo ronde */
  object-fit: cover;       /* évite la déformation */
  border: 4px solid #ffffff; /* bordure (couleur personnalisable) */
}
/* Colonne gauche */
.col-gauche {
    width: 35%;
    background-color: #e3e3e3; /* gris */
}
  /* Colonne droite */
.col-droite {
    width: 60%;
    background-color: #ffffff; /* blanc */
}
.col-droite p {
  text-align: justify;
  text-indent: 30px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.col-droite-1{
  display: flex;
  justify-content: space-between; /* gauche / droite */
  align-items: center;
}
.col-gauche-1{
  display: flex;
  justify-content: space-between; /* grand espace automatique */
  align-items: center;
}
.col-droite ul{
  list-style: none;
}

