/* Import Lato : normal, gras, italique */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Raleway Regular */
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

/* Raleway Bold */
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

/* Raleway Italic */
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Titres : Lato */
h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700; /* par défaut en gras */
  font-style: normal;
}
.gras{
  font-family: "Raleway-bold", sans-serif;
  font-weight: 700;
}
.italic{
  font-family: "Raleway-Italic",sans-serif;
  font-weight: 400;
  font-style: italic;
}
.blanc{
  color:#ffffff;
}
.blanc-italic{
  color: #ffffff;
  font-style: italic;
}
.bleu{
  color: #17abb3;
  display: flex;
}
.icon{
  filter: invert(1);
  height: 20px;
  width: 20px;
}
.icon-bleu {
  display: block;
  height: 90px;
  width: auto;
  filter: brightness(0) saturate(100%) invert(53%) sepia(83%) saturate(453%) hue-rotate(142deg) brightness(92%) contrast(92%);
}
body {
  font-family: "raleway", sans-serif;
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  background-color: #f5f5f5;
}
/*Haut du CV (HEADER)*/
.tete {
  display: flex;
  flex-direction: column;
}
.contact-icones li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.contact-icones ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.contact{
  display: flex;
  gap: 60px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 60px;
  gap: 40px;
}
.titre h1 {
  font-size: 40px;
  margin: 0;
}
.titre h2 {
  font-weight: 400;
  margin-left: -10px;
  margin-bottom: 30px;
  margin-top: 10px;
}
.titre{
  padding-left: 10px;
}
header, footer{
  background-color: #17abb3;
}
.photo-profil{
  width: 160px;
  height: 160px;
  border-radius: 50%;      /* rend la photo ronde */
  object-fit: cover;       /* évite la déformation */
  border: 4px solid #ffffff; /* bordure (couleur personnalisable) */
  cursor: zoom-in;
  transition: transform 0.3s ease;
}
.photo-profil:hover {
  transform: scale(1.05);
}

/*Corps du CV (Main)*/
main{
  display: flex;
}
ul{
  padding-top: 15px;
}
h3{
  color: #17abb3; /*rgb (23,171,179) */
  padding-top: 20px;
}
  /* Colonne droite */
.col-droite {
  padding: 40px;
  width: 70%;
  background-color: #ffffff; /* blanc */
}
.col-droite p {
  text-align: justify;
  text-indent: 30px;
}
.col-droite-1{
  display: flex;
  justify-content: space-between; /* gauche / droite */
  align-items: center;
}
.col-droite ul{
  margin-bottom: 15px;
  padding: 10px;
  list-style: none;
   border-left: 4px solid transparent;
}
.col-droite ul:hover {
  background-color: #eeeeee;
  border-left: 4px solid #1bb3b3; /* couleur des titres */
}
.container .col-droite{
  
}
/*Colonne gauche*/
.col-gauche{
  margin: 0;
  padding: 40px;
  width: 30%;
  background-color: #e3e3e3;
}
.col-gauche h3 {
  margin-top: 0;
}
.col-gauche ul {
  margin: 0;
  padding-left: 0;
}
.col-gauche-1 {
  display: flex;
  align-items: center;
  justify-content:space-between;
  height: 26px;       /* ← hauteur FIXE */
  margin: 2px 0;
  list-style: none;
}
.col-gauche hr{
  width:85%;
  margin: 10px 0;
}
.Langues {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
}
hr{
  margin-top: 10px;
  margin-bottom: 15px;
}
.qualités ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.qualités li {
  position: relative;
  padding-left: 18px;
  margin-bottom: 6px;
}
.qualités li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.55em;
  width: 8px;
  height: 8px;
  background-color: #1eaeb5;
}
.Centres-intéret ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.Centres-intéret li {
  position: relative;
  padding-left: 18px;
  margin-bottom: 6px;
}
.Centres-intéret li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.55em;
  width: 8px;
  height: 8px;
  background-color: #17abb3;
}
footer{
  text-align: center;
  padding-bottom: 10px;
}
.reseaux-sociaux {
  display: flex;
  justify-content: center;
  gap: 20px; /* espace entre les icônes */
  margin-bottom: 10px; /* espace entre les icônes et le texte */
}
.reseaux-sociaux .icon {
  width: 30px; /* taille des icônes (modifiable) */
  height: 30px;
  margin-top: 15px;
}
.reseaux-sociaux img {
  transition: opacity 0.3s ease;
}

.reseaux-sociaux img:hover {
  opacity: 0.6;
}
