/* Import Lato : normal, gras, italique */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Raleway Regular */
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

/* Raleway Bold */
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

/* Raleway Italic */
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Titres : Lato */
h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700; /* par défaut en gras */
  font-style: normal;
}
body {
font-family: "raleway", sans-serif;
background-color: #f5f5f5;
}
h3{
    color: #17abb3; /*rgb (23,171,179) */
}
.gras{
    font-family: "Raleway-bold", sans-serif;
    font-weight: 700;
}
.italic{
    font-family: "Raleway-Italic",sans-serif;
    font-weight: 400;
    font-style: italic;
}
.blanc{
    color:#ffffff;
}
.blanc-italic{
    color: #ffffff;
    font-style: italic;
}
.bleu{
    color: #17abb3;
    display: flex;
}
.icon{
    filter: invert(1);
    height: 20px;
    width: 20px;
}
header, footer{
    background-color: #17abb3;
}
.photo-profil{
  width: 160px;
  height: 160px;
  border-radius: 50%;      /* rend la photo ronde */
  object-fit: cover;       /* évite la déformation */
  border: 4px solid #ffffff; /* bordure (couleur personnalisable) */
}
.cv{
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}
  /* Colonne droite */
.col-droite {
    width: 60%;
    background-color: #ffffff; /* blanc */
}
.col-gauche{
<<<<<<< HEAD
  padding-left: 30px;
  width: 30%;
  background-color: #e3e3e3;
=======
    overflow: hidden;
   margin: 0;
    padding: 20px 15px;
  padding-left: 30px;
  width: 30%;
  background-color: #e3e3e3;
  border-bottom: 1px solid #e3e3e3; /* ASTUCE ANTI-BLANC */
>>>>>>> 47c2ae4 (Mes changements en cours)
}
.col-droite p {
  text-align: justify;
  text-indent: 30px;
}
footer{
    text-align: center;
    padding-bottom: 10px;
}
.reseaux-sociaux {
    display: flex;
    justify-content: center;
    gap: 20px; /* espace entre les icônes */
    margin-bottom: 10px; /* espace entre les icônes et le texte */
}
.reseaux-sociaux .icon {
    width: 30px; /* taille des icônes (modifiable) */
    height: 30px;
    margin-top: 15px;
}
main {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.col-droite-1{
  display: flex;
  justify-content: space-between; /* gauche / droite */
  align-items: center;
}
.col-droite ul{
   margin-bottom: 15px;
  list-style: none;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 60px;
    gap: 40px;
  font-style: none;
}
.titre h1 {
  font-size: 40px;
  margin: 0;
}
.titre h2 {
  font-weight: 400;
  margin-left: -10px;
  margin-bottom: 30px;
  margin-top: 10px;
}
.titre{
  padding-left: 10px;
}
.contact{
display: flex;
  gap: 60px;
}
.contact-icones ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.contact-icones li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.tete {
    display: flex;
    flex-direction: column;
}
<<<<<<< HEAD
.col-gauche ul {
  margin: 0;
  padding: 0;
=======
.col-gauche h3 {
    margin-top: 0;
}
.col-gauche ul {
  margin: 0;
  padding-left: 0;
>>>>>>> 47c2ae4 (Mes changements en cours)
}
.col-gauche-1 {
  display: flex;
  align-items: center;
  justify-content:space-between;
  height: 26px;       /* ← hauteur FIXE */
  margin: 2px 0;
  list-style: none;
}
.icon-bleu {
<<<<<<< HEAD
  padding-right: 50px;
=======
  padding-right: 45px;
>>>>>>> 47c2ae4 (Mes changements en cours)
  display: block;
  height: 70px;
  width: auto;
  filter: brightness(0) saturate(100%) invert(53%) sepia(83%) saturate(453%) hue-rotate(142deg) brightness(92%) contrast(92%);
}
.col-gauche hr{
<<<<<<< HEAD
  width: 85%;
=======
 width:85%;
 margin: 10px 0;
>>>>>>> 47c2ae4 (Mes changements en cours)
}
.Langues {
    display: flex;
    align-items: center;
    justify-content: space-between;
<<<<<<< HEAD
}
=======
    padding-right: 45px;
    margin: 2px 0;
    height: 26px;
}
hr{
  margin-top: 10px;
  margin-bottom: 15px;
}
.qualités ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.qualités li {
    position: relative;
    padding-left: 18px;
    margin-bottom: 6px;
}

.qualités li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.55em;
    width: 8px;
    height: 8px;
    background-color: #1eaeb5;
}
.Centres-intéret ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.Centres-intéret li {
    position: relative;
    padding-left: 18px;
    margin-bottom: 6px;
}

.Centres-intéret li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.55em;
    width: 8px;
    height: 8px;
    background-color: #1eaeb5;
}
>>>>>>> 47c2ae4 (Mes changements en cours)
